<!-- contenedor principal -->
<div class="weddingProgram">
    <!-- info izquierda -->
    <div class="mainSection">
        <div class="textContainer">
            <div>19:00</div>
            <div>Ceremonia</div>
        </div>
        <div class="textContainer">
            <div>21:15</div>
            <div>Cena</div>
        </div>
        <div class="textContainer">
            <div>22:45</div>
            <div>Primer baile</div>
        </div>
        <div class="textContainer">
            <div>23:00</div>
            <div>Fiesta</div>
        </div>
    </div>
    <!-- <div> -->
    <!-- info central ⬤ -->
    <div class="mainSection" id="relativeDots">
        <div>⬤</div>
        <div>⬤</div>
        <div>⬤</div>
        <div>⬤</div>
    </div>
    <!-- div vacio para linea vertical -->
    <div id="dotsLine"></div>

    <!-- </div> -->
    <!-- info derecha -->
    <div class="mainSection">
        <div class="textContainer">
            <div>
                <img src="/church.svg" alt="ceremonia">
            </div>
        </div>
        <div class="textContainer">
            <div>
                <img src="/dinner.svg" alt="dinner">
            </div>
        </div>
        <div class="textContainer">
            <div>
                <img src="/dance.svg" alt="dance">
            </div>
        </div>
        <div class="textContainer">
            <div>
                <img src="/party.svg" alt="party">
            </div>
        </div>
    </div>

</div>