.weddingProgram {
    height: 500px;
    // width: 35%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.mainSection {
    display: grid;
    align-items: center;

    .textContainer>div {
        justify-self: center;
        // margin-left: 20px;
        margin-right: 35px;

        img {
            width: 35px;
            margin-left: 20px;
        }
    }
}


#relativeDots {
    position: absolute;
    right: 50%;
    left: 50%;
    height: 500px;
    color: #92a68b;
    font-size: 20px;
}

#dotsLine {
    border: solid 1.5px #444441;
    margin-right: 25px;
}