<div id="countdownContainer">
    <div class="timeBox">
        <p>
            <span class="number">{{ days }}</span>
            <br>
            <label>Días</label>
        </p>
    </div>

    <span class="points">:</span>
    
    <div class="timeBox">
        <p>
            <span class="number">{{ hours }}</span>
            <br>
            <label>Horas</label>
        </p>
    </div>

    <span class="points">:</span>

    <div class="timeBox">
        <p>
            <span class="number">{{ minutes }}</span>
            <br>
            <label>Minutos</label>
        </p>
    </div>

    <span class="points">:</span>

    <div class="timeBox">
        <p>
            <span class="number">{{ seconds }}</span>
            <br>
            <label>Segundos</label>
        </p>
    </div>
</div>