<div class=""
    style=" margin: 10px; display: flex;
        justify-content: center; flex-direction: column; align-items: center; padding: 0 20px; text-align: center;  background-color: #f5f1e5; border-radius: 10px;">

    <p class="inputContainer">
        <input type="text" placeholder="Enter your name" name="text" id="text" class="inputField" autocomplete="name">
        <!-- <label class="input-label" for="text">Name</label> -->
    </p>


    <button class="appButton">Confirmar</button>
</div>