/* You can add global styles to this file, and also import other style files */

$verde: #92a68b;



body {
    background-color: #92a68b;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


.playfair-display-500 { //¡Nos Casamos!, La Celebración, Confirmación de Asistencia y Un Detalle
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-400 {// textos explicativos, etiquetas del formulario (Nombre, ¿Vendrás?), datos del IBAN y botones de acción
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}